[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
aya-build = { version = "0.1.0", default-features = false }
clap = { version = "4.0", features = ["derive"] }
anyhow = "1.0"